<!DOCTYPE html>
<html>
  <head>
     <title>title</title>
     <link rel = "stylesheet" href = "stylesheets/city.css">
     <link rel = "stylesheet" href = "stylesheets/navigation.css">
      <link href="https://fonts.googleapis.com/css?family=Kirang+Haerang" rel="stylesheet">
    <header><div class = "topnav">   
  </head>
  
  <header> 
  <div class = "topnav">
  
  <a href = "home">Home</a>
  <a href = "nyc">New York City</a>
  <a href = "paris">Paris</a>
  <a href = "sydney">Sydney</a>
  <a href = "tokyo">Tokyo</a>
  <a href = "cape_town">Cape Town</a>
  <a href = "about">About</a>
  </div>
  </header>
  
  
  <body>
  <h1>About us:</h1>
    <h2>Arella:  Arella loves to dance and snuggle with her dog, London. She plans to use her coding powers to create amazing apps to premote womens rights and girls education all over the world! </h2>
    
    <h2>Teresa: Teresa is a Kode with Klossy schoolar who is passionate about art, fashion, design and now coding. She cant wait to see where her new coding superpower will take her.</h2>
    
    <h2>Minka: Minka is a 6'1 giraffe who has a passion of learning languages, eating croutons and watching Psych. She is thankful for the amazing oppurtunity she has had with Kode with Klossy and can't wait to use her new coding skills. </h2>
    
    <h2>Dagny:  Dagny is super excited to have had the chance to be a part of the amazing Kode With Klossy experience. She has learned a lot this week from ruby and html to how bad she really is at Mafia. Outside of coding she loves gymnastics and theater.  She hopes to use code in her future and is excited to see where it takes her. </h2>
     <br><br>
     <footer>Endorsed by Karlie Kloss<footer>
  </body>
</html>