<!DOCTYPE html>
<html>
  <head>
    <title>Cape Town</title>
    <link rel = "stylesheet" href = "stylesheets/city.css">
    <link rel = "stylesheet" href = "stylesheets/navigation.css">
    
    <link href="https://fonts.googleapis.com/css?family=Kirang+Haerang" rel="stylesheet">
    <header><div class = "topnav">

<a href="home">Home</a>
<a href = "nyc">New York City</a>
<a href = "paris">Paris</a>
<a href = "sydney">Sydney</a>
<a href = "tokyo">Tokyo</a>
<a href = "cape_town">Cape Town</a>
<a href = "about">About</a>

</div>
</header>
  </head>
  <body>
  
  <div class="container">
    <img src="https://images.fineartamerica.com/images-medium-large-5/pink-flight-chad-dutson.jpg" alt="plane" height="100" width="800">
    <br>
    <br>
    <h1>
      <div class="centered">CAPE TOWN</div>
    </h1>
  </div>
  <br>
  <br>
  <h2>HOTELS</h2>
  <p> <a href="http://www.jordanwines.com/dine-with-us/">The Westin Capetown</a></p>
  <p> <a href="https://atlanticpoint.travel/">Atlantic Point</a></p>
  <p><a href="http://www.ellerman.co.za/">Ellerman House</a></p>
  <p><a href="https://www.marriott.com/hotels/travel/cptbr-protea-hotel-cape-town-waterfront-breakwater-lodge/"> Protea</a></p>
  <br>
    <aside id = "right">
      <img src="https://c1.staticflickr.com/9/8026/7293568020_9c804e1baa_b.jpg" >
    </aside>
    <aside id = "left">
      <img src="http://www.maureendupreez.com/wp-content/uploads/2017/01/18-fine-art-polaroid-impossible-film-wedding-photography-cape-town.jpg">
    </aside>
  <br>
  <h2> RESTAURANTS </h2>
  <p><a href="http://karczmabrooklyn.com/en/menu-2/"> Jordan Restaurant $$</a></p>
  <p><a href="http://roastandco.co.za">Eastern Food Bazaar $</a></p>
  <p><a href="http://roastandco.co.za/">Roast and Co $</a></p>
  <p><a href="https://www.aubergine.co.za/">Aubergine $$</a></p>
  <p><a href="https://www.tripadvisor.com/Restaurant_Review-g312659-d5849616-Reviews-The_Black_Sheep_Restaurant-Cape_Town_Central_Western_Cape.html">Black Sheep Restaurant $$</a></p>
  <br>
  <br>
  <h2>EVENTS</center>
  </h2>
  <p><a href="https://www.tablemountain.net/">Table Mt.</a></p>
  <p><a href="https://www.tablemountain.net/">Cape of Good Hope</a></p>
  <p><a href="http://www.capetown.travel/visitors/see-do/top-attractions/boulders/headline-boulders-beach/">Boulders Beach</a></p>
  <p><a href="https://www.tripadvisor.com/Attraction_Review-g312659-d2150161-Reviews-Great_White_Shark_Cage_Diving-Cape_Town_Central_Western_Cape.html">Shark cave Diving</a></p>
  <p><a href="https://www.viator.com/Cape-Town-tourism/Wildlife-Safaris-from-Cape-Town/d318-t11323">Safari</a></p>
  <p><a href="https://www.tripadvisor.com/Attraction_Review-g312659-d481271-Reviews-Bo_kaap-Cape_Town_Central_Western_Cape.html">Bo-Kaap</a></p>
   <br><br>
     <footer>Endorsed by Karlie Kloss<footer>
</body>
</html>
