<html>
  <head>
    <link rel = "stylesheet" href = "stylesheets/city.css">
     <link rel = "stylesheet" href = "stylesheets/navigation.css">
     <link href="https://fonts.googleapis.com/css?family=Kirang+Haerang" rel="stylesheet">
    <header>
      <!--<div class = "topnav">-->
    <title>Paris</title>
    <header>
    <div class = "topnav">
       
<a href = "home">Home</a>
<a href = "nyc">New York City</a>
<a href = "paris">Paris</a>
<a href = "sydney">Sydney</a>
<a href = "tokyo">Tokyo</a>
<a href = "cape_town">Cape Town</a>
<a href = "about">About</a>

</div>
</header>
  </head>
  <body>
  <div class="container">
    <img src="https://images.fineartamerica.com/images-medium-large-5/pink-flight-chad-dutson.jpg" alt="plane" height="100" width="800">
    <br>
    <br>
    <h1>
      <div class="centered">PARIS</div>
    </h1>
  </div>
  <br>
  <br>
  <h2> HOTELS</h2>

  <p><a href="https://www.designhotels.com/hotels/france/paris/hotel-de-nell">Hotel De Nell</a></p>
  <p><a href="http://www.hotelbeauchamps.com/">Hotel Beauchamps</a> </p>
  <p><a href="http://www.ministerehotel.com/uk/index.php">Hotel Du Ministere</a> </p>
  <p><a href="https://hoteltourismeavenue.com/index.php/fr/">Hotel Tourisme Avenue</a> </p>
  <p><a href="https://hotelwaldorf.fr/en/">Hotel Waldorf Mont Parnasse</a></p>
  <p><a href="http://www.floride-paris-hotel.com/en">Floride Etoile Hotel</a></p>
  <p><a href="https://www.ihg.com/crowneplaza/hotels/us/en/paris/pardl/hoteldetail"> Crown Plaza Paris Republique</a> </p>
  <p><a href="http://www.novotel-paris-toureiffel.com/">Novotel Tour Eiffel Hotel</a></p>
  <br>
  <aside id = "right">
      <img src="http://parispolaroidtours.com/wp-content/uploads/2014/09/polaroid_eiffel_tower_once_again_by_mike_jack-d59zv14.jpg" >
    </aside>
    <aside id = "left">
      <img src="http://giam.typepad.com/.a/6a00d8341c10fd53ef01543477e944970c-600wi">
    </aside>
  <br>

  <h2> RESTUARANTS </h2>

  <p><a href="http://marcheoucrepe.fr/en">Marche Ou Crepe $</a></p>
  <p><a href="http://www.cafe-elsur.com/">El Sur $$</a></p>
  <p><a href="https://www.theworlds50best.com/The-List-2017/41-50/LAstrance.html">L'Astrance $$$$</a></p>
  <p><a href="https://www.davidtoutain.com/">Restuarant David Toutain $$$</a></p>
  <p><a href="http://www.alain-passard.com/en/">L'Arpege $$$$</a></p>
  <p><a href="http://restaurant-lassiette.paris/">L'Assiete $$$</a></p>
  <br>
  <br>

  <h2>EVENTS</h2>

  <p><a href="https://www.toureiffel.paris/en/rates-opening-times">Eiffel Tower</a></p>
  <p><a href="https://www.louvre.fr/en">The louvre</a></p>
  <p><a href="http://www.notredamedeparis.fr/en/"> Notre-Dame de Paris</a></p>
  <p><a href="http://en.chateauversailles.fr/">Palace of Versailles</a></p>
  <p><a href="https://www.chamonix.com/chamonix-mont-blanc,0,en.html">Chamonix-Mont Blanc</a></p>
 <br><br>
     <footer>Endorsed by Karlie Kloss<footer>
</body>

</html>