<!DOCTYPE erb>
<html>
  <head>
    <link rel = "stylesheet" href = "stylesheets/city.css">
     <link rel = "stylesheet" href = "stylesheets/navigation.css">
     <link href="https://fonts.googleapis.com/css?family=Kirang+Haerang" rel="stylesheet">
    <header>
      <!--<div class = "topnav">-->
    <title>Sydney</title>
    <header>
    <div class = "topnav">
        
<a href = "home">Home</a>
<a href = "nyc">New York City</a>
<a href = "paris">Paris</a>
<a href = "sydney">Sydney</a>
<a href = "tokyo">Tokyo</a>
<a href = "cape_town">Cape Town</a>
<a href = "about">About</a>

</div>
</header>
  </head>
    <body>
  <div class="container">
    <img src="https://images.fineartamerica.com/images-medium-large-5/pink-flight-chad-dutson.jpg" alt="plane" height="100" width="800">
    <br>
    <br>
    <h1>
    <div class="centered">SYDNEY</div>
    </h1>
  </div>

  <br>
  <br>
  <h2>HOTELS</h2>
  <p><a href="https://www.qthotelsandresorts.com/sydney-cbd/"> QT Sydney </a></p>
  <p><a href="https://www.accorhotels.com/gb/hotel-2073-mercure-sydney/index.shtml">Mercure Sydney </a></p>
  <p><a href="http://www.starwoodhotels.com/westin/property/overview/index.html?propertyID=1183&SWAQ=958C"> The Westin Sydney </a></p>
  <p><a href="https://www.accorhotels.com/gb/hotel-3665-sofitel-sydney-wentworth/index.shtml">Sofitel Sydney Wentworth </a></p>
  <br>
  <aside id = "right">
      <img src="https://c1.staticflickr.com/8/7023/6618505955_80243c6e15_b.jpg" >
    </aside>
    <aside id = "left">
      <img src="https://graceandivy.files.wordpress.com/2013/04/sydney-polaroid-3.png?w=500&h=600">
    </aside><br>
  <h2> RESTAURANTS </h2>
  <p><a href="http://www.marqueesydney.com/">The Star $$</a></p>
  <p><a href="https://www.cirrusdining.com.au/">Cirrus Dining $$$</a></p>
  <p><a href="https://www.thebentley.com.au/">Bentley Restaurant $$$$</a></p>
  <p><a href="https://www.sixpenny.com.au/">Sixpenny $$$$$</a></p>
  <br><br>
  <h2>EVENTS</h2>
  <p><a href="https://www.rbgsyd.nsw.gov.au/">Royal Botanic Garden</a></p>
  <p><a href="https://www.sydneyolympicpark.com.au/">Sydney Olympic park</a> </a>
  </p>
  <p><a href="http://www.thrill.com.au/">THRILL events team activities</a></a>
  </p>
  <p><a href="http://www.pylonlookout.com.au/">Pylon Lookout</a></a>
    </a>
  </p>
 <br><br>
  <footer>Endorsed by Karlie Kloss
    <footer>
</body>
</html>