<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--  <head>-->
<!--    <link href="startbootstrap-clean-blog/css/clean-blog.css" rel="stylesheet" type="text/css" /> -->
<!--    <link href="startbootstrap-clean-blog/css/clean-blog.min.css" rel="stylesheet" type="text/css" />-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <meta name="description" content="">-->
<!--    <meta name="author" content="">-->
<!--    <title>Clean Blog - Start Bootstrap Theme</title>-->
    <!-- Bootstrap core CSS -->
<!--    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <!-- Custom fonts for this template -->
<!--    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
<!--    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>-->
<!--    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>-->
    <!-- Custom styles for this template -->
<!--    <link href="css/clean-blog.min.css" rel="stylesheet">-->
<!--  </head>-->
<!--  <body>-->
    <!-- Navigation -->
<!--    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">-->
<!--      <div class="container">-->
<!--        <a class="navbar-brand" href="index.html">Start Bootstrap</a>-->
<!--        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
<!--          Menu-->
<!--          <i class="fa fa-bars"></i>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarResponsive">-->
<!--          <ul class="navbar-nav ml-auto">-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="quiz.erb">Home</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="about.erb">About</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="cape_town.erb">Cape Town</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="nyc.erb">New York City</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="paris.erb">Paris</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="sydney.erb">Sydney</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="tokyo.erb">Tokyo</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </nav>-->
    <!-- Page Header -->
<!--    <header class="masthead" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPMc1wTZ1jPvb2azyPQANDZLm-DnSeMLnaw0EIa9Sx4hsELuWAiQ')">-->
<!--      <div class="overlay"></div>-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-lg-8 col-md-10 mx-auto">-->
<!--            <div class="site-heading">-->
<!--              <h1>It's in the Bag!</h1>-->
<!--              <span class="subheading">A personal travel planner</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </header>-->
    <!-- Main Content -->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-8 col-md-10 mx-auto">-->
<!--          <div class="post-preview">-->
            <!--<a href="post.html">-->
<!--              <h2 class="post-title">-->
<!--                about us-->
<!--              </h2>-->
              
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->
<!--    <hr>-->
    <!-- Footer -->
<!--    <footer>-->
     
   
<!--    </footer>-->
    <!-- Bootstrap core JavaScript -->
<!--    <script src="vendor/jquery/jquery.min.js"></script>-->
<!--    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
    <!-- Custom scripts for this template -->
    <!--<script src="js/clean-blog.min.js"></script>-->
    
<!--     <form action="/results" method="post">-->
<!--      <h2>How do you like to travel around your dream city?</h2>-->
<!--        <input type="radio" name="mode_of_travel" value="NYC">Walking<br>-->
<!--        <input type="radio" name="mode_of_travel" value="Sydney">Taxi<br>-->
<!--        <input type="radio" name="mode_of_travel" value="Tokyo">Train<br>-->
<!--        <input type="radio" name="mode_of_travel" value="Cape Town">Metro<br>-->
<!--        <input type="radio" name="mode_of_travel" value="Paris">Bike<br>-->
<!--      <h2>What is your prefered activity?</h2>-->
<!--        <input type="radio" name="activity" value="NYC">Something quiet<br>-->
<!--        <input type="radio" name="activity" value="Sydney">Something completely crazy and adventurous<br>-->
<!--        <input type="radio" name="activity" value="Tokyo">Activity? I thought I was on Vacation?<br>-->
<!--        <input type="radio" name="activity" value="Cape Town">Something out of my comfort zone<br>-->
<!--        <input type="radio" name="activity" value="Paris">Duh Food! Is that even a question?<br>-->
<!--      <h2> What is your favorite color? </h2>-->
<!--        <input type="radio" name="color" value="NYC">Red<br>-->
<!--        <input type="radio" name="color" value="Sydney">Orange<br>-->
<!--        <input type="radio" name="color" value="Tokyo">Blue<br>-->
<!--        <input type="radio" name="color" value="Cape Town"> ALL THE COLORS!!!!<br>-->
<!--        <input type="radio" name="color" value="Paris">Green<br>-->
<!--      <h2> Choose your favorite quote? </h2>-->
<!--        <input type="radio" name="quote" value="NYC"><img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREgmbv7tREXYnoQ3_WzZqx6E7Jaf2dgm8fl8gAkJMMCDfOc0tA" width = 150 height = 200>-->
<!--        <br>-->
<!--        <input type="radio" name="quote" value="Sydney"><img src ="https://i.pinimg.com/564x/f5/77/0e/f5770e72cf01fd82494f822152e3f508.jpg" width = 150 height = 200>-->
<!--        <br>-->
<!--        <input type="radio" name="quote" value="Tokyo"><img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjZZo8_I5vv7qx3GG61WYKYtotduUSNgoY3GL5ld_50oU8PNe33Q" width = 150 height = 200>-->
<!--        <br>-->
<!--        <input type="radio" name="quote" value="Cape Town"> <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTKGshfManXIRQtHH_PUWyW4cLqmNuv2NMWKSQgipf5QS2jymUUw" width = 200 height = 200>-->
<!--        <br>-->
<!--        <input type="radio" name="quote" value="Paris"><img src ="https://static1.squarespace.com/static/519f76f7e4b0db707ac0650b/t/566763b14bf118de77ab0c76/1449616328497/" width = 150 height = 200>-->
<!--        <br>-->
<!--      <h2> What is your favorite movie? </h2>-->
<!--        <input type="radio" name="movie" value="NYC">The Tourist<br>-->
<!--        <input type="radio" name="movie" value="Sydney">The Secret Life if Walter Mitty<br>-->
<!--        <input type="radio" name="movie" value="Tokyo">A Wrinkle in Time<br>-->
<!--        <input type="radio" name="movie" value="Cape Town"> Movies!? Who has time for that?<br>-->
<!--        <input type="radio" name="movie" value="Paris">Into the Wild<br>-->
<!--      <br><br>-->
<!--      <button type = "submit" class="new"> Ready for your Dream Vacation? </button>-->
<!--  </body>-->
<!--</html>-->


<header>
  <div id="NYC" class="tabcontent">
  <h3>New York City</h3>
 
</div>

<div id="Paris" class="tabcontent">
  <h3>Paris</h3>

</div>

<div id="Tokyo" class="tabcontent">
  <h3>Tokyo</h3>
  
</div>

<div id="Cape_Town" class="tabcontent">
  <h3>Cape Town</h3>
  
</div>

<div id="Sydney" class="tabcontent">
  <h3>Sydney</h3>
  
</div>
</header>






