
<!DOCTYPE erb>
<html>
  <head>
    <link rel = "stylesheet" href = "stylesheets/city.css">
     <link rel = "stylesheet" href = "stylesheets/navigation.css">
     <link href="https://fonts.googleapis.com/css?family=Kirang+Haerang" rel="stylesheet">
    <header>
      <!--<div class = "topnav">-->
    <title>Tokyo</title>
    <header>
    <div class = "topnav">
      
<a href = "home">Home</a>
<a href = "nyc">New York City</a>
<a href = "paris">Paris</a>
<a href = "sydney">Sydney</a>
<a href = "tokyo">Tokyo</a>
<a href = "cape_town">Cape Town</a>
<a href = "about">About</a>

</div>
</header>
  </head>
   <body>
  <div class="container">
    <img src="https://images.fineartamerica.com/images-medium-large-5/pink-flight-chad-dutson.jpg" alt="plane"  height="100" width="800">
    <br>
    <br>
      <h1>
      <div class="centered">TOKYO </div>
    </h1>
  </div>
  <br>
  <br>
  <h2>HOTELS</h2>
  <P><a href="https://www.hostelworld.com/hosteldetails.php/Bunka-Hostel-Tokyo/Tokyo/100416?source=adwordsenhostelnames&network=g&creative=238878550068&adposition=1t1&uniqueclickID=16274433429750119774&sub_keyword=bunka%20hostel%20tokyo&sub_ad=e&sub_publisher=ADW&gclid=CjwKCAjw14rbBRB3EiwAKeoG_0dw_iZvVAFdGgU55M2h9jdmHrAG7n2EiJ7i1MTPQZDcNQ28gjO_SBoCFjwQAvD_BwE&gclsrc=aw.ds">Bunka Hostel Tokyo </a></P>
          <P><a href="https://www.expedia.com/Tokyo-Hotels-Hotel-Sunroute-Higashi-Shinjuku.h2184775.Hotel-Information?chkin=8%2F2%2F2018&chkout=8%2F3%2F2018&rm1=a2&hwrqCacheKey=51502198-7558-4744-b03c-6f0af0fd4088HWRQ1533216443118&cancellable=false&regionId=179900&vip=false&c=441a3c37-4320-43c7-bf3a-adeff2bca60d&">Hotel Sunroute Higashi: </a></P>
          <p><a href="https://www.expedia.com/Tokyo-Hotels-Shinjuku-Granbell-Hotel.h7737490.Hotel-Information?chkin=8%2F2%2F2018&chkout=8%2F3%2F2018&rm1=a2&hwrqCacheKey=51502198-7558-4744-b03c-6f0af0fd4088HWRQ1533216443118&cancellable=false&regionId=179900&vip=false&c=441a3c37-4320-43c7-bf3a-adeff2bca60d&&exp_dp=281&exp_ts=1533216443564&exp_curr=USD&swpToggleOn=false&exp_pg=HSR">Shinjuku Granbell Hotel: </a></p>
          <p><a href="https://www.expedia.com/Tokyo-Hotels-Keio-Plaza-Hotel-Tokyo.h15215.Hotel-Information?chkin=8%2F2%2F2018&chkout=8%2F3%2F2018&rm1=a2&hwrqCacheKey=51502198-7558-4744-b03c-6f0af0fd4088HWRQ1533216592957&cancellable=false&regionId=179900&vip=false&c=eb1ad044-f6a7-41f5-8d3f-beafe241391b&&exp_dp=264&exp_ts=1533216593499&exp_curr=USD&swpToggleOn=false&exp_pg=HSR">Keio Plaza Hotel Tokyo </a></p>
  <br>
  <aside id = "right">
  <img src="https://www.fabulouslybroke.com/wp-content/uploads/2011/11/City-Polaroid-Tokyo-Japan.png" >
  </aside>
  <aside id = "left">
    <img src="https://static1.squarespace.com/static/52f458e9e4b069d0ed732885/58fe12e8d2b85715bb2d1120/58fe12feb8a79b0b91dbb56e/1493047270387/pola2.jpg">
    </aside>
    <br>
  <h2> RESTAURANTS </h2>
  <p><a href = "http://www.kaikaya.com/">Kaikaya by the Sea $$</a></p>
          <p><a href="https://www.kuriyadining.com.sg/en/">Kuriya $$$</a></p>
          <p><a href="http://cedros.jp/">Cedros Daikanyama $$$$</a></p>
          <p><a href="http://www.suishagardens.com/main_e/main.html?gclid=CjwKCAjw14rbBRB3EiwAKeoG_wxEmkO5NhED9C9bidKuDmCWVvJTq5XQhaQ6hv4hlyke5zz81wS3LBoCf-kQAvD_BwE">Hakushu Teppanyaki $$$$$</a></p>
          <br> 
  <h2>EVENTS</center>
  </h2>
  <p><a href="https://www.expedia.com/things-to-do/sumo-demonstration-chankonabe-hotpot-lunch.a421675.activity-details?srp=true&location=Tokyo&pageNumber=1">Sumo Demonstration & Chankonabe Hotpot Lunch</a></p>
          <p><a href="https://www.expedia.com/things-to-do/mount-fuji-hakone-national-park-full-day-tour.a187353.activity-details?srp=true&location=Tokyo&pageNumber=1">Mount Fuji & Hakone National Park Full-Day Tour </a></p>
          <p><a href= "https://www.expedia.com/things-to-do/full-day-sightseeing-bus-tour-in-tokyo-with-cruise.a370600.activity-details?srp=true&location=Tokyo&pageNumber=1">Full-Day Sightseeing Bus Tour in Tokyo with Cruise</a></p>
          <p><a href= "https://www.expedia.com/things-to-do/tokyo-half-day-sightseeing-bus-tour-am.a392858.activity-details?srp=true&location=Tokyo&startDate=2018-08-02&endDate=2018-08-16&pageNumber=1">Tokyo Half-Day Sightseeing Bus Tour (AM)</a></p>
           <br><br>
     <footer>Endorsed by Karlie Kloss<footer>
</body>
</html>