  body {
  background-color: lavenderBlush;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
   font-family: 'Kirang Haerang', cursive;
font-size: 30px
}

#right img{
    width: 250px;
    height: 300px;
    position: absolute;
    right: 15%;
    background-color: white;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(15deg);
}
#left img{
    width: 250px;
    height: 300px;
    position: absolute;
    left: 15%;
    background-color: white;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(345deg);
}
a:link {
    color: black;
}

a:visited {
    color: black;}
a:hover {
    color: purple;}
img 
  {
    height: 350px;
    width: 800px;
   }
.centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Kirang Haerang', cursive;
    font-size: 90px; 
}
.container {
    background: white;
    padding-top: 10px;
    padding-bottom: 6px;
    
}


